@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--normal-font-size);
  font-family: "Rubik", sans-serif;
  color: var(--grayish-blue);
  line-height: 1.4;
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  font-family: inherit;
}

button:focus {
  outline: none;
}
