@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--normal-font-size);
  font-family: "Rubik", sans-serif;
  color: var(--grayish-blue);
  line-height: 1.4;
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(1px);
}

.avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

textarea {
  appearance: none;
  width: 100%;
  border: 2px solid var(--light-gray);
  border-radius: 8px;
  padding: 1rem 2rem;
  resize: none;
  color: inherit;
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
    border: 2px solid var(--moderate-blue);
  }
}

.preventScrolling {
  overflow-y: hidden;
  height: 100vh;
}
