button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: transparent;
  outline: none;

  &:hover {
    opacity: 0.6;
  }
}

.btn {
  padding: 1.5rem 2rem;
  border-radius: 5px;
  background-color: var(--moderate-blue);
  color: #fff;

  @media screen and (min-width: $bp-lg) {
    padding: 1.5rem 2.5rem;
  }
}

.btn--ghost {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.5rem;
  font-weight: 500;
}

.btn--ghost.delete {
  color: var(--soft-red);
}

.btn--ghost.edit,
.btn--ghost.reply {
  color: var(--moderate-blue);
}

.btn--delete,
.btn--cancel {
  padding: 1.5rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1.6rem;
}

.btn--delete {
  background-color: var(--soft-red);
}

.btn--cancel {
  background-color: var(--grayish-blue);
}
