.comment-form {
  margin: 1rem 0;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.2rem;

  @media screen and (min-width: $bp-md) {
    padding: 2rem;
    grid-template-columns: min-content 1fr min-content;
    grid-template-row: min-content;
  }

  @media screen and (min-width: $bp-xl) {
    padding: 2.5rem 2.5rem 2rem;
  }

  &__input {
    grid-column: 1 / -1;

    @media screen and (min-width: $bp-md) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &__avatar {
    grid-column: 1 / 2;

    @media screen and (min-width: $bp-md) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      align-self: start;
    }
    img {
      display: block;
    }
  }

  &__action {
    grid-column: 2 / 3;
    justify-self: end;

    @media screen and (min-width: $bp-md) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      align-self: start;
    }
  }
}
