.comment-list {
  padding: 2rem 1.5rem;
  max-width: 60rem;

  @media screen and (min-width: $bp-md) {
    max-width: 70rem;
  }

  @media screen and (min-width: $bp-lg) {
    max-width: 80rem;
  }
}
